* {
	color: #696969;
	font-family: 'Comfortaa', cursive;
}

body {
	margin: 0;
}

.centered-text {
	text-align: center;;
}

.blue-text {
	color: #3598db;
}

.blue-divider {
	width: 15%;
	border: 3px solid #3598db;
	margin-bottom: 3rem;
}

.white-text {
	color: #FFFFFF;
}

.white-divider {
	width: 15%;
	border: 3px solid #FFFFFF;
	margin-bottom: 3rem;
}

.circle {
	border-radius: 50%;
}

.border-radius {
	border-radius: 5px;
}

section {
	padding: 3rem;
	min-width: 417px;
}

.section-header {
	font-size: 2.5rem;
	text-align: center;
	text-transform: lowercase;
}

/*--------------- Skills ---------------*/

#skills {
	background-color: #f7f7f7;
}

#skills-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}

@media (max-width: 768px) {
	#skills-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

.skill-circle {
	height: 7rem;
	width: 7rem;
	background-color: #3598db;
	position: relative;
	border: 7px solid #f7f7f7;
	box-shadow: 0 0 0 10px #f7f7f7;
}

.skill-circle:hover {
	background-color: #ff748c;
	box-shadow: 0 0 0 10px #ff748c;
}

.icon {
	font-size: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.devicon-angular-plain {
	font-size: 4rem;
}

/*--------------- Logo Animation ---------------*/

.logo-container {
	height: 0px;
	width: 0px;
	border-radius: 50%;
	border: 0px solid white;
	position: absolute;
	left: 50%;
	margin-left: 0px;
	top: 50%;
	margin-top: 0px;
	transform: rotate(0deg);
	animation-name: logo;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}

@keyframes logo {
  from {height: 0px; width: 0px; border: 0px solid white; margin-left: 0px; margin-top: 0px; transform: rotate(0deg)}
  to {height: 300px; width: 300px; border: 8px solid white; margin-left: -150px; margin-top: -150px; transform: rotate(360deg)}
}

.d {
	font-size: 0em;
	display: inline-block;
	font-weight: 900;
	margin-top: 40%;
	margin-left: 35%;
	animation-name: d;
	animation-delay: 0.5s;
	animation-duration: 3.5s;
	animation-fill-mode: forwards;
}

@keyframes d {
  from {margin-top: 40%; margin-left: 35%; font-size: 0em;}
  to {margin-top: 10%; margin-left: 8%; font-size: 12em;}
}

.q {
	font-size: 0em;
	display: inline-block;
	font-weight: 900;
	margin-top: 0%;
	margin-left: 0%;
	animation-name: q;
	animation-delay: 0.5s;
	animation-duration: 3.5s;
	animation-fill-mode: forwards;
}

@keyframes q {
  from {margin-top: 0%; margin-left: 0%; font-size: 0em;}
  to {margin-top: -20%; margin-left: -10%; font-size: 12em;}
}