/*--------------- ALL ---------------*/

* {
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 16px;
}

section {
	width: 70%;
	margin: 0 auto;
	padding: 2% 0;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-transform: uppercase;
  margin: 20px 0 50px 0;
}

h3 {
	margin: 20px 0;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
}

hr {
	width: 30%;
	height: 5%;
	color: black;
}

/*--------------- WELCOME ---------------*/

#welcome {
	height: 100vh;
	width: 100vw;
	background-image: url(img/uyuni3.jpg);
	background-size: 100%;
	background-position: 0 90%;
	background-attachment: fixed;
}

/*--------------- ABOUT ---------------*/

.me {
	border-radius: 50%;
}

/*--------------- SKILLS ---------------*/

.skills_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.skill_circle {
	height: 150px;
	width: 150px;
	background-color: #3598db;
	border-radius: 50%;
}

.icon {
	font-size: 70px;
	color: white;
	display: block;
	padding: 40px 0 0 40px;
}

/*--------------- PORTFOLIO ---------------*/

h2 {
	font-size: 1.5em;
	line-height: 6em;
}

.app_wrapper  {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.app {
	position: relative;
	width: 450px;
	margin-bottom: 5%;
}

.app img {
	width: 100%;
	height: auto;
}

.fas, .fab {

	font-size: 50px;
	text-align: center;
	color: white;
}

.fas {
	margin-left: 29%;
}

.fab {
	margin-left: 20%;
}

.app_links {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3598db;
  height: 0;
  width: 100%;
  transition: 1s ease;
  opacity: 0;
}

.app:hover .app_links {
  opacity: 1;
  height: 100%;
}

.app_links h2 {
	color: white;
}

/*--------------- CONNECTED ---------------*/

#connected {
	height: 45vh;
	width: 100vw;
	background-image: url(img/uyuni5.jpg);
	background-size: 100%;
	background-attachment: fixed;
	/*background-position: 0 90%;*/
}

#connected h1 {
	color: white;
}


.connect_wrapper {
	height: 100px;
	width: 21vw;
	margin: 7% auto 0 auto;
}

.connect {
	height: 100%;
	width: 100px;
	border-radius: 50%;
	border: 1px solid white;
	float: left;
}

.connect:hover {
	background-color: white;
}

.connect:last-child {
	margin-left: 30%;
}


.connect_icon {
	font-size: 50px;
	color: white;
	display: block;
	padding: 22px 0 0 10px;
}

.connect_icon:hover {
	color: #3598db;
}

/*--------------- CONTACT ---------------*/

#contact {
	height: 90vh;
	width: 100vw;
	background-color: #3598db;
}